<div class="col-xs-12">
    <div class="row" ng-hide="translatedMobile" ng-cloak>
        <div class="translate-inn col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Mensaje recibido:</h3>
                        </div>
                        <div class="col-xs-12">
                            <textarea ng-model="message" maxlength="250" class="textarea" placeholder="Copiá y pegá el mensaje que recibiste. Con &#127799; y Nombre!"></textarea>
                        </div>
                        <div class="col-xs-12">
                            <hr/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-0 col-md-6 show-desktop">
                    <div class="col-xs-12">
                        <h3>Traducción:</h3>
                    </div>
                    <div class="col-xs-12">
                        <textarea maxlength="150" ng-model="translation" readonly="readonly" class="textarea translation"></textarea>
                    </div>
                </div>
                <div class="col-xs-12 error" ng-show="onSubmitError">
                    <div class="row">
                        <div class="col-md-3">
                            <p></p>
                        </div>
                        <div class="col-xs-2 col-md-1">
                            <a class="waves-effect waves-light btn share" href=""><i class="fa fa-exclamation fa-1" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-10 col-md-4">
                            <p>{{errorMessage}}</p>
                        </div>
                        <div class="col-md-4">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 action" ng-hide="translatedDesktop">
                    <a class="waves-effect waves-light btn submit" ng-click="translate()">traducir</a>
                </div>
                <div class="col-xs-12" ng-show="translatedDesktop">

                    <a href="/" class="waves-effect waves-light btn submit">Respondele</a>		
			
				
			</div>	
		</div>
		</div>
	</div>
</div>
	<div ng-show="translatedMobile " ng-cloak class="row hide-desktop ">
		<div class="translate-inn col-xs-12 ">
				<div class="row ">
		<div class="col-xs-12 ">
			<h3>Mensaje recibido:</h3>
		</div>	
		<div class="col-xs-12 ">
			<textarea ng-model="message "  maxlength="150 " readonly="readonly " class="textarea translation "></textarea>
		</div>
		<div class="col-xs-12 ">
				<hr/>
		</div>
		<div class="col-xs-12 ">
			<h3>Traducción:</h3>
		</div>	
		<div class="col-xs-12 ">
			<textarea id="translation "  maxlength="150 "  ng-model="translation " readonly="readonly " class="textarea translation "></textarea>
		</div>
	</div>
		<div class="col-xs-12 ">	
			<div class="row ">
					<a href="/ " class="waves-effect waves-light btn submit ">Respondele</a>		
			</div>
			
		</div>	
	</div>
</div>